<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.alent.core.mapper.TestBeanMapper">
	<insert id="addTestBean" parameterType="TestBean">
		insert into test_bean(name,birthday)
		values(#{name},#{birthday})
	</insert>
    <select id="findTestBeanById" parameterType="int" resultType="me.alent.core.po.TestBean">
        SELECT id, name, birthday from test_bean WHERE id = #{value}
    </select>
</mapper>
